.container {
  max-width: 400px;
  margin-top: 50px;
  padding-left: 24px;
  line-height: 1.5;
  font-size: 24px;
}

.form {
  max-width: 300px;
  margin: 50px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

fieldset {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

fieldset label {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 12px 12px;
}

button[disabled] {
  width: 100%;
  background-color: #ccc;
  cursor: not-allowed;
}
